<div class="flex items-center justify-around w-full h-full">
  <div class="flex items-center justify-between gap-x-1">
    <img src="images/logo.png" alt="car_logo" class="w-[59px] h-[59px]" />
    <p class="flex">
      <span class="text-[24px] font-[900px] text-[#FDB713]">رِنت</span
      ><span class="text-[#194BF0] text-[24px] font-[900px]">اُتــو</span>
    </p>
  </div>
  <div>
    <ul class="flex gap-x-[40px]">
      <li class="text-[#353535] cursor-pointer">رزرو خودرو</li>
      <li class="text-[#353535] cursor-pointer">خدمات ما</li>
      <li class="text-[#353535] cursor-pointer">بلاگ</li>
      <li class="text-[#353535] cursor-pointer">درباره ما</li>
      <li class="text-[#353535] cursor-pointer">تماس با ما</li>
      <li class="text-[#353535] cursor-pointer">
        <img src="images/search-outline.png" class="w-[24px] h-[24px]" alt="logo"/>
      </li>
    </ul>
  </div>

  <div>
    <button class="w-[122px] h-[40px] font-[500px] text-[16px] bg-[#194BF0] rounded-[8px] text-[#FFFFFF] cursor-pointer">ورود / ثبت‌نام</button>
  </div>
</div>
<h1 class="text-8xl">{{ (this.userState$ | async).mobile_number  }}</h1>
