<div class="bg-[#D7D7D7] flex justify-center items-center w-screen h-screen">
  <div class="w-[1,016px] h-[856px] flex">
    <div
      class="w-[660px] h-[856px] flex justify-between items-center bg-[#FFFFFF] flex-col"
    >
      <div class="h-[50%] flex justify-between flex-col items-center">
        <div
          class="flex items-center justify-between w-[151px] h-[59px] mt-[32px]"
        >
          <img src="images/logo.png" alt="car_logo" class="w-[59px] h-[59px]" />
          <p class="flex">
            <span class="text-[24px] font-[900px] text-[#FDB713]">رِنت</span
            ><span class="text-[#194BF0] text-[24px] font-[900px]">اُتــو</span>
          </p>
        </div>
        <div class="flex flex-col justify-center items-center gap-y-[20px]">
          <div class="h-[35px]">
            <p class="text-[20px] font-[700px] text-[#494949]">
              ورود یا ثبت‌نام
            </p>
          </div>
          <div>
            <p class="text-[14px] font-[400px] text-[#494949] h-[25px]">
              کد تایید به شماره موبایلی که وارد می‌کنید، ارسال خواهد شد.
            </p>
          </div>
        </div>
      </div>
      <div class="h-[50%] flex flex-col w-4/5">
        <div class="mt-10">
          <div class="mt-1 relative rounded-md shadow-sm w-full">
            <!-- Country Code and Flag -->
            <div
              class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
            >
              <!-- Country Code -->
              <span class="text-[#0C0C0C] font-normal text-sm"
                ><span class="text-[#949494] mr-1">|</span> ۹٨+</span
              >
              <!-- Flag Image -->
              <img
                class="w-[24px] h-[24px] mr-2"
                src="images/Flag.png"
                alt="Iran Flag"
              />
            </div>
            <div
              class="absolute inset-y-0 right-0 flex items-center pr-3 cursor-pointer"
            >
              <img
                class="w-[24px] h-[24px]"
                src="images/circle-close-fill.png"
                alt="close"
              />
            </div>
            <!-- Phone Number Input -->
            <input
              type="tel"
              id="phone-number"
              name="phone-number"
              class="block w-full pl-20 pr-4 py-2 border border-gray-300 rounded-md shadow-sm"
              placeholder="۹*********"
              maxlength="10"
            />
          </div>
          <a href="#">
            <p class="mt-2 text-[14px] text-[#F23218] pr-3">متن راهنما</p></a
          >
          <div class="mr-3 mt-2 flex gap-x-2">
            <input
              type="checkbox"
              class="w-[24px] h-[24px] rounded-[8px] cursor-pointer"
            />
            <p class="text-[#727272] text-[14px]">
              با ورود و ثبت‌نام در سایت، با  <span class="text-[#194BF0] cursor-pointer">قوانین اتورنت </span>موافقت می‌کنم.
            </p>
          </div>
        </div>
        <div class="w-full">
          <button type="submit" class="text-[#C2C2C2] text-[14px] font-[500px] w-full mt-12 p-[8px] bg-[#194BF0] border border-gray-400 rounded-[8px] cursor-pointer disabled:bg-gray-200">تایید و ادامه</button>
        </div>
      </div>
    </div>
    <div class="">
      <img
        src="images/car_login.png"
        alt="car_login"
        class="w-[358px] h-[855px] rounded-tl-[16px] rounded-bl-[16px]"
      />
    </div>
  </div>
</div>
